.timerBtn{
    width: 80px;
    height: 40px;
    border: 3px solid;
    border-radius: 12px;
    background-color: #f1f1f1;
    color: rgb(0, 1, 1);
    cursor: pointer;
    font-family: consolas;
}
#timeDisplay{
    font-size: 75px;
    color: #00e5ff;
    font-family: consolas;
}
#timeContainer{
    text-align: center;
    border: 3px solid;
    border-radius: 10px;
    background-color: #000000;
}